# Ignore built binary
get_env

# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
.*.bun-build

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*

# Finder (MacOS) folder config
.DS_Store
